@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sarala&display=swap');

body{
  background-color: black;
}

#logo {
  height: 6%;
  width: 6%;
  margin-left: 47%;
  margin-right: 44%;
}

#titulo{
  font-family: 'Open Sans', sans-serif;
  margin: 16px 16px;
  height: 6%;
  width: 20%;
  margin-left: 42%;
  margin-right: 42%;
  font-size: 20px;
  color: aliceblue ;
}

a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.bt{
  background-color: rgb(39, 40, 41);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 16px 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  border-radius: 16px;
  height: 27px;
  width: 48%;
}

.bt:hover{
  background-color: rgb(39, 40, 41);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 16px 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  border-radius: 16px;
  height: 34px;
  width: 50%;
}
