<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>GITANNA LOUNGUE AIR</title>
</head>
<body>
    <div class='botoes'>
        <img id="logo" src="../static/imgs/GITANNA.png">
        <h1 id="titulo">GITANNA LOUNGE AIR</h1>
        <a target='_blank' href="{{ link1 }}" class='bt'><p>{{ bt1 }}</p></a>
        <a target='_blank' href="{{ link2 }}" class='bt'><p>{{ bt2 }}</p></a>
        <a target='_blank' href="{{ link3 }}" class='bt'><p>{{ bt3 }}</p></a>
        <a target='_blank' href="{{ link4 }}" class='bt'><p>{{ bt4 }}</p></a>
        <a target='_blank' href="{{ link5 }}" class='bt'><p>{{ bt5 }}</p></a>
    </div>
</body>
</html>